@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body {
  background-color: whitesmoke;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.Navbar {
  background-color: white;
  height: 80px;
  max-width: 100%;
  margin: auto;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2px 2px 2px rgb(173, 171, 171);
  position: sticky;
  top: 0;
  left: 0;
}

.Navbar .leftSide {
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: left;
}

.Navbar .leftSide .links {
  max-height: 80px;
  margin: 0.5rem;
}

.Navbar .leftSide .links Link li {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
}

li {
  list-style-type: none;
  font-size: 26px;
  color: black;
  margin-left: 30px;
  display: inline;
}

.Logo {
  font-family: "Dancing Script";
  font-size: 30px;
}

.Navbar .leftSide button {
  display: none;
}

.Navbar .leftSide #hidden {
  display: flex;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 25px;
}

/* .Navbar .extremeRightSide {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
} */

.rightSide input {
  height: 30px;
  width: 420px;
  border: none;
  border-radius: 4px;
  color: black;
  padding-left: 20px;
  background-color: rgb(226, 224, 224);
}

.rightSide button {
  width: 32px;
  height: 30px;
  margin: 0.1rem;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.icons {
  height: 25px;
  margin: 0.1rem 0.7rem;
}

.iconDesc {
  font-family: "Oswald", sans-serif;
}

@media only screen and (max-width: 850px) {
  .Navbar .leftSide .links li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .leftSide .links li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .icons {
    display: flex;
    flex-wrap: nowrap;
  }

  .rightSide input {
    width: auto;
  }

  .Navbar .leftSide button {
    display: flex;
  }

  .Navbar .leftSide .links {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: -10px;
    top: 71px;
    background-color: whitesmoke;
    height: 260px;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .leftSide #hidden Link li {
    margin: 1rem;
    padding: 2rem;
    font-size: 20px;
  }
}

/* from here the styling for the cart and product starts */

.productListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  max-width: 100%;
  margin: 1rem; /*  check this if productListing fails */
  border: 0.1px solid rgb(199, 198, 198);
  border-radius: 0.5rem;
}

.productCard {
  background-color: white;
  box-shadow: 3px 3px 3px rgb(170, 161, 161);
}

.cardButton {
  display: flex;
  justify-content: space-evenly;
}

.productTitle,
.productPrice {
  background-color: white;
  margin: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.btn {
  display: block;
  padding: 0.4rem;
  margin: 0.5rem;
  border: 1px hidden black;
  border-radius: 0.5rem;
  background-color: rgb(202, 196, 196);
}

.main-heading {
  max-width: 100%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.discountPrice {
  font-weight: 400;
}

.productName {
  font-family: "Lato", sans-serif;
}

.typeProduct {
  font-family: "Lato", sans-serif;
  margin: 0.2rem;
}

.productPage {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

.productPage #hidden {
  display: flex;
}

.filterSection {
  border: 0.1px solid rgb(199, 198, 198);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.filterSection h4 {
  font-size: 1.2rem;
  margin: 2rem;
  margin-top: 0rem;
  font-family: "Lato", sans-serif;
  color: rgb(97, 94, 94);
}

.labelHeading {
  font-family: "Lato";
  margin: 0.5rem;
  margin-top: 0.2rem;
  text-transform: uppercase;
}

.labelOptions input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
}

.buttonContainer {
  display: none;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: white;
}

button.link-no-style {
  font-size: 1rem;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.text-regular-weight {
  font-weight: 500;
}

.p {
  font-size: 1rem;
  margin: 0.6rem 0;
  line-height: 1.5;
}

.filterButton {
  background-color: rgb(202, 199, 199);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .buttonContainer {
    flex-wrap: wrap;
    display: flex;
  }

  .productPage #hidden {
    position: absolute;
    left: -100px;
    top: 76px;
    background-color: whitesmoke;
    height: max-content;
    max-height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.8s ease;
  }

  .filterSection {
    display: none;
  }

  .productListing {
    margin-left: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* footer styling starts here */

.footerSection {
  background-color: rgba(255, 255, 255, 0.637);
  color: rgb(98, 85, 85);
  padding: 1rem;
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.footerSection h4 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.footerSection p {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.footerSection span a {
  margin: 0.3rem;
}

/* cart styling from here*/

.cartSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.5px solid rgb(170, 170, 170);
  border-radius: 0.5rem;
}

.cartCard {
  max-width: 100%;
}

.section2 {
  border: 0.5px solid rgb(182, 181, 181);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  max-width: fit-content;
}

.cartCardTitle {
  font-family: "Lato";
  margin: 0.3rem;
}

.cartSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartHeader {
  font-family: "Lato", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
}

.section2 h4 {
  margin: 1rem 0.5rem;
}

.btn1 {
  display: block;
  max-width: 100%;
  margin: auto;
}

.priceSpan {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.emptyCartSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin: auto;
}

.emptyCartSection h3 {
  margin: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.wishListing {
  margin-left: 0.5rem;
}
